<content data-show="game-view" data-theme="purple" data-context="game-board">
	<div class="floor"></div>

	<div class="start-view" data-area="start">
		<div class="logo">
			<svg class="poker"><use xlink:href="#holdem-logo-poker"></use></svg>
			<div class="graffiti">
				<svg class="holdem"><use xlink:href="#holdem-logo-holdem"></use></svg>
			</div>
			<div class="chip"></div>
		</div>

		<div class="actions oppo">
			<div class="dlg-bg"></div>
			<h3>Choose opponents</h3>
			<div class="options">
				<span data-click="set-opponents" data-arg="1">1</span>
				<span data-click="set-opponents" data-arg="2">2</span>
				<span data-click="set-opponents" data-arg="3">3</span>
				<span data-click="set-opponents" data-arg="4">4</span>
				<span data-click="set-opponents" data-arg="5">5</span>
				<span data-click="set-opponents" data-arg="6">6</span>
				<span data-click="set-opponents" data-arg="7">7</span>
			</div>
		</div>
	</div>

	<div class="game-view">
		<div class="table" data-area="table">
			<!-- table yellow rim highlights -->
			<div class="rim"></div>

			<!-- table spotlights -->
			<span class="spotlight p1"></span>
			<span class="spotlight p2"></span>
			<span class="spotlight p3"></span>
			<span class="spotlight p4"></span>
			<span class="spotlight p5"></span>
			<span class="spotlight p6"></span>
			<span class="spotlight p7"></span>
			<span class="spotlight p8"></span>

			<!-- visual deck -->
			<div class="deck">
				<div class="void"></div>
			</div>

			<!-- dealer button -->
			<span class="dealer hidden"></span>

			<!-- community cards -->
			<div class="board">
				<!-- flop, turn & river cards goes here -->
			</div>

			<!-- pot -->
			<span class="pot hidden"></span>
		</div>

		<!-- actions dialog -->
		<div class="actions hidden" data-area="dialog">
			<div class="dlg-bg"></div>
			<div class="dlg-arrow"></div>
			<span class="button check" data-click="player-check">Check</span>
			<span class="button call" data-click="player-call">Call</span>
			<span class="button fold" data-click="player-fold">Fold</span>

			<span class="slider">
				<span class="handle"></span>
				<span class="text">slide to raise</span>
			</span>

			<span class="button raise disabled" data-click="player-raise">Raise</span>

		</div>
	</div>
</content>
