<content>
	<div class="game" data-theme="purple">
		<div class="table">
			<!-- table yellow rim highlights -->
			<div class="rim"></div>

			<!-- table spotlights -->
			<span class="spotlight p1"></span>
			<span class="spotlight p2"></span>
			<span class="spotlight p3"></span>
			<span class="spotlight p4"></span>
			<span class="spotlight p5"></span>
			<span class="spotlight p6"></span>
			<span class="spotlight p7"></span>
			<span class="spotlight p8"></span>

			<!-- seats (8) START -->
			<span class="seat">
				<span class="bg"></span>
				<span class="name"></span>
				<span class="cards">
					<!-- user cards -->
				</span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="name"></span>
				<span class="cards"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="cards"></span>
				<span class="name"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="cards"></span>
				<span class="name"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="cards"></span>
				<span class="name"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="cards"></span>
				<span class="name"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="cards"></span>
				<span class="name"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>

			<span class="seat">
				<span class="bg"></span>
				<span class="cards"></span>
				<span class="name"></span>
				<span class="chips"></span>
				<span class="bet"></span>
			</span>
			<!-- seats END -->

			<!-- visual deck -->
			<div class="deck" data-pos="p0"></div>

			<!-- dealer button -->
			<span class="dealer" data-pos="p0"></span>

			<!-- community cards -->
			<div class="board">
				<!-- 
				<div class="card c7 card-back flop-1"></div>
				<div class="card dJ card-back flop-2"></div>
				<div class="card s3 card-back flop-3"></div>
				<div class="card cK card-back turn"></div>
				<div class="card h8 card-back river"></div>
				-->
			</span>
			<!-- pot -->
			<span class="pot hidden">1 000</span>
		</div>

		<div class="actions hidden">
			<span class="button fold">Fold</span>
			<span class="button check">Check</span>
			<span class="button raise">Raise</span>
			<span class="button call">Call</span>

			<div class="options">
				<span>100</span>
				<span>200</span>
				<span>300</span>
				<span>400</span>
				<span>All In</span>
			</div>

			<span class="slider">
				<span class="handle"></span>
				<span class="text">slide to raise</span>
			</span>

		</div>

		<!--
		<div class="card card-back"></div>
		
		<div class="card dA"></div>
		<div class="card d2"></div>
		<div class="card d3"></div>
		<div class="card d4"></div>
		<div class="card d5"></div>
		<div class="card d6"></div>
		<div class="card d7"></div>
		<div class="card d8"></div>
		<div class="card d9"></div>
		<div class="card d10"></div>
		<div class="card dJ"></div>
		<div class="card dQ"></div>
		<div class="card dK"></div>

		<div class="card sA"></div>
		<div class="card s2"></div>
		<div class="card s3"></div>
		<div class="card s4"></div>
		<div class="card s5"></div>
		<div class="card s6"></div>
		<div class="card s7"></div>
		<div class="card s8"></div>
		<div class="card s9"></div>
		<div class="card s10"></div>
		<div class="card sJ"></div>
		<div class="card sQ"></div>
		<div class="card sK"></div>
				
		<div class="card hA"></div>
		<div class="card h2"></div>
		<div class="card h3"></div>
		<div class="card h4"></div>
		<div class="card h5"></div>
		<div class="card h6"></div>
		<div class="card h7"></div>
		<div class="card h8"></div>
		<div class="card h9"></div>
		<div class="card h10"></div>
		<div class="card hJ"></div>
		<div class="card hQ"></div>
		<div class="card hK"></div>
				
		<div class="card cA"></div>
		<div class="card c2"></div>
		<div class="card c3"></div>
		<div class="card c4"></div>
		<div class="card c5"></div>
		<div class="card c6"></div>
		<div class="card c7"></div>
		<div class="card c8"></div>
		<div class="card c9"></div>
		<div class="card c10"></div>
		<div class="card cJ"></div>
		<div class="card cQ"></div>
		<div class="card cK"></div>
		-->
	</div>
</content>
