
content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0;
}

.board {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #7e3400 radial-gradient(circle at top center, #fbaa6a4f, #2011004f);
	user-select: none;
	border-radius: inherit;
	transition: width 100ms,
				height 100ms;
	padding-left: 50px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='40' patternTransform='scale(1) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M1.624 19.09l6.597-1.595a.503.503 0 11.238.98L2.145 20l6.314 1.526a.504.504 0 01-.238.98l-6.597-1.595 3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM-.911 18.377l-1.595-6.597a.504.504 0 11.98-.237L0 17.856l1.526-6.313a.503.503 0 11.98.237L.911 18.377l3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 000 7.125a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM-11.535 16.763a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0l3.426-3.426-6.597 1.595a.501.501 0 01-.609-.371.504.504 0 01.372-.609l6.313-1.526-6.313-1.526a.504.504 0 11.237-.98l6.597 1.595-3.426-3.426a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM.911 21.625l1.595 6.597a.504.504 0 11-.98.237L0 22.146l-1.526 6.313a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.099a4.584 4.584 0 006.475 0l1.099-1.099a3.813 3.813 0 000-5.386zM31.624 19.09l6.597-1.595a.503.503 0 11.238.98L32.145 20l6.314 1.526a.504.504 0 01-.238.98l-6.597-1.595 3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM29.089 18.377l-1.595-6.597a.504.504 0 11.98-.237L30 17.856l1.526-6.313a.503.503 0 11.98.237l-1.595 6.597 3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 0030 7.125a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM18.465 16.763a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0l3.426-3.426-6.597 1.595a.501.501 0 01-.609-.371.504.504 0 01.372-.609l6.313-1.526-6.313-1.526a.504.504 0 11.237-.98l6.597 1.595-3.426-3.426a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM30.911 21.625l1.595 6.597a.504.504 0 11-.98.237L30 22.146l-1.526 6.313a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.099a4.584 4.584 0 006.475 0l1.099-1.099a3.813 3.813 0 000-5.386zM16.624 39.09l6.597-1.595a.503.503 0 11.238.98L17.145 40l6.314 1.526a.504.504 0 01-.238.98l-6.597-1.595 3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM14.089 38.377l-1.595-6.597a.504.504 0 11.98-.237L15 37.856l1.526-6.313a.503.503 0 11.98.237l-1.595 6.597 3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 0015 27.125a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM3.465 36.763a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0l3.426-3.426-6.597 1.595a.501.501 0 01-.609-.371.504.504 0 01.372-.609l6.313-1.526-6.313-1.526a.504.504 0 11.237-.98l6.597 1.595-3.426-3.426a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM15.911 41.625l1.595 6.597a.504.504 0 11-.98.237L15 42.146l-1.526 6.313a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.1a4.584 4.584 0 006.475 0l1.099-1.1a3.813 3.813 0 000-5.386zM16.624-.91l6.597-1.595a.503.503 0 11.238.98L17.145 0l6.314 1.526a.504.504 0 01-.238.98L16.624.912l3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM14.089-1.623L12.494-8.22a.504.504 0 11.98-.237L15-2.144l1.526-6.313a.503.503 0 11.98.237l-1.595 6.597 3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 0015-12.875a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM3.465-3.237a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0L13.376.912 6.779 2.507a.501.501 0 01-.609-.371.504.504 0 01.372-.609L12.855.001 6.542-1.525a.504.504 0 11.237-.98L13.376-.91 9.95-4.336a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM15.911 1.625l1.595 6.597a.504.504 0 11-.98.237L15 2.146 13.474 8.46a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.099a4.584 4.584 0 006.475 0l1.099-1.099a3.813 3.813 0 000-5.386z'  stroke-width='1' stroke='none' fill='hsla(258.5,59.4%,59.4%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
		opacity: .035;
	}
}

.table {
	position: absolute;
	top: 47px;
	left: 43px;
	width: 745px;
	height: 400px;
	background: #444;
	border-radius: 400px;
	box-shadow: inset 0 0 13px rgba(#000,.35),
				0 5px 13px rgba(#000,.35);

	&:before {
		content: "";
		background: #198719 radial-gradient(circle at 50% 50%, #fbaa6a4f, #2011004f);
		position: absolute;
		top: 29px;
		left: 29px;
		right: 29px;
		bottom: 29px;
		border-radius: inherit;
		border: 9px solid #c59808;
		box-shadow: 0 0 13px rgba(#000,.35),
					inset 0 2px 5px rgba(#000,.15),
					inset 0 -2px 5px rgba(#000,.15);
	}

	&:after {
		content: "";
		position: absolute;
		top: 83px;
		left: 83px;
		right: 83px;
		bottom: 83px;
		border-radius: inherit;
		border: 2px solid rgba(#000,.25);
		// box-shadow: 0 1px 0 rgba(#fff,.075);
		background: url(/app/icons/logo-karaqu.png) 50% 50% no-repeat;
		filter: drop-shadow(0 1px 0 rgba(#fff,.75)) opacity(.35);
		mix-blend-mode: overlay;
	}

	.spotlight {
		position: absolute;
		width: 117px;
		height: 53px;
		margin-left: -58px;
		background: radial-gradient(circle at top center, rgba(#f8ff47,.175), rgba(#fff,0) 73%);
		mix-blend-mode: overlay;

		&.p1 { top: 31px; left: 29%; }
		&.p2 { top: 31px; left: 50%; }
		&.p3 { top: 31px; left: 71%; }

		&.p4 {
			top: 142px;
			left: 86px;
			width: 53px;
			height: 117px;
			background: radial-gradient(circle at 0% 50%, rgba(#f8ff47,.175), rgba(#fff,0) 73%);
			clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
		}

		&.p5 { top: 316px; left: 29%; transform: rotate(180deg); }
		&.p6 { top: 316px; left: 50%; transform: rotate(180deg); }
		&.p7 { top: 316px; left: 71%; transform: rotate(180deg); }

		&.p8 {
			top: 142px;
			left: 721px;
			width: 53px;
			height: 117px;
			background: radial-gradient(circle at 0% 50%, rgba(#f8ff47,.2), rgba(#fff,0) 73%);
			clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
			transform: rotate(180deg);
		}
	}
}

.card {
	position: relative;
	// position: absolute;
	// top: 0;
	// left: 0;
	width: 66px;
	height: 90px;
	display: inline-block;
	margin: 17px 0 0 -43px;
	border-radius: 5px;
	transform-style: preserve-3d;
	background-size: 66px 90px;
	// background-position: -2px 0, 0 0;
	background-repeat: no-repeat;
	box-shadow: 0 0 0 1px rgba(#111,.1),
				0 2px 5px rgba(#000,.2);


	&.card-back {
		position: absolute;
		top: 50px;
		left: 600px;
		transform: rotateY(180deg);

		&:before {
			content: "";
			background-image: url(~/icons/cb-red.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: inherit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: inherit;
			transform: rotateY(180deg) translateZ(.1px);
			filter: brightness(1);
		}
	}

	&.sA	{ background-image: url(~/icons/sA.png), url(~/icons/spades-front.png); }
	&.s2	{ background-image: url(~/icons/s2.png), url(~/icons/spades-front.png); }
	&.s3	{ background-image: url(~/icons/s3.png), url(~/icons/spades-front.png); }
	&.s4	{ background-image: url(~/icons/s4.png), url(~/icons/spades-front.png); }
	&.s5	{ background-image: url(~/icons/s5.png), url(~/icons/spades-front.png); }
	&.s6	{ background-image: url(~/icons/s6.png), url(~/icons/spades-front.png); }
	&.s7	{ background-image: url(~/icons/s7.png), url(~/icons/spades-front.png); }
	&.s8	{ background-image: url(~/icons/s8.png), url(~/icons/spades-front.png); }
	&.s9	{ background-image: url(~/icons/s9.png), url(~/icons/spades-front.png); }
	&.s10	{ background-image: url(~/icons/s10.png), url(~/icons/spades-front.png); }
	&.sJ	{ background-image: url(~/icons/sJ.png); }
	&.sQ	{ background-image: url(~/icons/sQ.png); }
	&.sK	{ background-image: url(~/icons/sK.png); }

	&.hA	{ background-image: url(~/icons/hA.png), url(~/icons/hearts-front.png); }
	&.h2	{ background-image: url(~/icons/h2.png), url(~/icons/hearts-front.png); }
	&.h3	{ background-image: url(~/icons/h3.png), url(~/icons/hearts-front.png); }
	&.h4	{ background-image: url(~/icons/h4.png), url(~/icons/hearts-front.png); }
	&.h5	{ background-image: url(~/icons/h5.png), url(~/icons/hearts-front.png); }
	&.h6	{ background-image: url(~/icons/h6.png), url(~/icons/hearts-front.png); }
	&.h7	{ background-image: url(~/icons/h7.png), url(~/icons/hearts-front.png); }
	&.h8	{ background-image: url(~/icons/h8.png), url(~/icons/hearts-front.png); }
	&.h9	{ background-image: url(~/icons/h9.png), url(~/icons/hearts-front.png); }
	&.h10	{ background-image: url(~/icons/h10.png), url(~/icons/hearts-front.png); }
	&.hJ	{ background-image: url(~/icons/hJ.png); }
	&.hQ	{ background-image: url(~/icons/hQ.png); }
	&.hK	{ background-image: url(~/icons/hK.png); }

	&.dA	{ background-image: url(~/icons/dA.png), url(~/icons/diamonds-front.png); }
	&.d2	{ background-image: url(~/icons/d2.png), url(~/icons/diamonds-front.png); }
	&.d3	{ background-image: url(~/icons/d3.png), url(~/icons/diamonds-front.png); }
	&.d4	{ background-image: url(~/icons/d4.png), url(~/icons/diamonds-front.png); }
	&.d5	{ background-image: url(~/icons/d5.png), url(~/icons/diamonds-front.png); }
	&.d6	{ background-image: url(~/icons/d6.png), url(~/icons/diamonds-front.png); }
	&.d7	{ background-image: url(~/icons/d7.png), url(~/icons/diamonds-front.png); }
	&.d8	{ background-image: url(~/icons/d8.png), url(~/icons/diamonds-front.png); }
	&.d9	{ background-image: url(~/icons/d9.png), url(~/icons/diamonds-front.png); }
	&.d10	{ background-image: url(~/icons/d10.png), url(~/icons/diamonds-front.png); }
	&.dJ	{ background-image: url(~/icons/dJ.png); }
	&.dQ	{ background-image: url(~/icons/dQ.png); }
	&.dK	{ background-image: url(~/icons/dK.png); }

	&.cA	{ background-image: url(~/icons/cA.png), url(~/icons/clubs-front.png); }
	&.c2	{ background-image: url(~/icons/c2.png), url(~/icons/clubs-front.png); }
	&.c3	{ background-image: url(~/icons/c3.png), url(~/icons/clubs-front.png); }
	&.c4	{ background-image: url(~/icons/c4.png), url(~/icons/clubs-front.png); }
	&.c5	{ background-image: url(~/icons/c5.png), url(~/icons/clubs-front.png); }
	&.c6	{ background-image: url(~/icons/c6.png), url(~/icons/clubs-front.png); }
	&.c7	{ background-image: url(~/icons/c7.png), url(~/icons/clubs-front.png); }
	&.c8	{ background-image: url(~/icons/c8.png), url(~/icons/clubs-front.png); }
	&.c9	{ background-image: url(~/icons/c9.png), url(~/icons/clubs-front.png); }
	&.c10	{ background-image: url(~/icons/c10.png), url(~/icons/clubs-front.png); }
	&.cJ	{ background-image: url(~/icons/cJ.png); }
	&.cQ	{ background-image: url(~/icons/cQ.png); }
	&.cK	{ background-image: url(~/icons/cK.png); }
}
