
background: transparent;
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	font-family: BebasNeueRegular, Arial, sans-serif;
	font-size: 21px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 2px 1px rgba(#000,.35);

	&.cover {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 19;
			cursor: none;
		}
	}

	.hidden {
		display: none;
	}

	.floor {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .035;
		}
	}

	&[data-theme="brown"] .floor {
		background: #7e3400 radial-gradient(circle at top center, #fbaa6a4f, #2011004f);

		&:before {
			background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='40' patternTransform='scale(1) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M1.624 19.09l6.597-1.595a.503.503 0 11.238.98L2.145 20l6.314 1.526a.504.504 0 01-.238.98l-6.597-1.595 3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM-.911 18.377l-1.595-6.597a.504.504 0 11.98-.237L0 17.856l1.526-6.313a.503.503 0 11.98.237L.911 18.377l3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 000 7.125a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM-11.535 16.763a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0l3.426-3.426-6.597 1.595a.501.501 0 01-.609-.371.504.504 0 01.372-.609l6.313-1.526-6.313-1.526a.504.504 0 11.237-.98l6.597 1.595-3.426-3.426a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM.911 21.625l1.595 6.597a.504.504 0 11-.98.237L0 22.146l-1.526 6.313a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.099a4.584 4.584 0 006.475 0l1.099-1.099a3.813 3.813 0 000-5.386zM31.624 19.09l6.597-1.595a.503.503 0 11.238.98L32.145 20l6.314 1.526a.504.504 0 01-.238.98l-6.597-1.595 3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM29.089 18.377l-1.595-6.597a.504.504 0 11.98-.237L30 17.856l1.526-6.313a.503.503 0 11.98.237l-1.595 6.597 3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 0030 7.125a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM18.465 16.763a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0l3.426-3.426-6.597 1.595a.501.501 0 01-.609-.371.504.504 0 01.372-.609l6.313-1.526-6.313-1.526a.504.504 0 11.237-.98l6.597 1.595-3.426-3.426a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM30.911 21.625l1.595 6.597a.504.504 0 11-.98.237L30 22.146l-1.526 6.313a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.099a4.584 4.584 0 006.475 0l1.099-1.099a3.813 3.813 0 000-5.386zM16.624 39.09l6.597-1.595a.503.503 0 11.238.98L17.145 40l6.314 1.526a.504.504 0 01-.238.98l-6.597-1.595 3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM14.089 38.377l-1.595-6.597a.504.504 0 11.98-.237L15 37.856l1.526-6.313a.503.503 0 11.98.237l-1.595 6.597 3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 0015 27.125a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM3.465 36.763a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0l3.426-3.426-6.597 1.595a.501.501 0 01-.609-.371.504.504 0 01.372-.609l6.313-1.526-6.313-1.526a.504.504 0 11.237-.98l6.597 1.595-3.426-3.426a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM15.911 41.625l1.595 6.597a.504.504 0 11-.98.237L15 42.146l-1.526 6.313a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.1a4.584 4.584 0 006.475 0l1.099-1.1a3.813 3.813 0 000-5.386zM16.624-.91l6.597-1.595a.503.503 0 11.238.98L17.145 0l6.314 1.526a.504.504 0 01-.238.98L16.624.912l3.426 3.426a3.813 3.813 0 005.386 0l1.1-1.1a4.584 4.584 0 000-6.475l-1.1-1.099a3.814 3.814 0 00-5.386 0zM14.089-1.623L12.494-8.22a.504.504 0 11.98-.237L15-2.144l1.526-6.313a.503.503 0 11.98.237l-1.595 6.597 3.426-3.426a3.813 3.813 0 000-5.386l-1.1-1.099A4.548 4.548 0 0015-12.875a4.547 4.547 0 00-3.238 1.341l-1.099 1.099a3.813 3.813 0 000 5.386zM3.465-3.237a4.584 4.584 0 000 6.476l1.1 1.099a3.813 3.813 0 005.385 0L13.376.912 6.779 2.507a.501.501 0 01-.609-.371.504.504 0 01.372-.609L12.855.001 6.542-1.525a.504.504 0 11.237-.98L13.376-.91 9.95-4.336a3.796 3.796 0 00-2.693-1.113c-.975 0-1.95.37-2.693 1.113zM15.911 1.625l1.595 6.597a.504.504 0 11-.98.237L15 2.146 13.474 8.46a.505.505 0 01-.98-.237l1.595-6.597-3.426 3.426a3.813 3.813 0 000 5.386l1.1 1.099a4.584 4.584 0 006.475 0l1.099-1.099a3.813 3.813 0 000-5.386z'  stroke-width='1' stroke='none' fill='hsla(258.5,59.4%,59.4%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
		}
	}

	&[data-theme="purple"] .floor {
		background: #640b6b radial-gradient(circle at top center, #dd6afb4f, #16032d4f);

		&:before {
			background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='120.1' patternTransform='scale(1) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M79.6-6.4v24.8H62.7V2.3h7.4v11h4.3V-1.9H58.5v24.6h25.4V-6.4H89v29.1h25.4V-1.9H98.5v16.1h4.2V2.3h7.4v16.1H93.2V-6.4zm-41.7 76v4.2H54V57.9H29.5v25.3h29.2v5.1H29.5v25.3H54V97.7H38.8v4.2h11v7.4H33.7V92.4h25v21.2h21v24.8l-17-15.9h11.6v-4.2H58.4v4.2l21.1 20.3h4.2v-29h5.1v29H93l21.1-20.3v-4.2H98.2v4.2h11.6l-16.9 16.1v-24.8h21.4V92.6h24.6l-16.1 16.9V97.9h-4.2v15.9h4.2l20.3-21.1v-4.2h-28.8v-5.1h28.8v-4.2l-20.3-21.1h-4.2V74h4.2V62.4l16.1 16.9h-24.6V58.1H92.9V33.3h16.9v16.1h-7.4V37.5h-4.2v16.1h15.9V29.1H88.8v29h-5.1v-29H58.5v24.5h15.9V38.4h-4.2v11h-7.4V33.3h16.9v24.8h-21v21.2h-25V62.4h16.1v7.4H37.9zm25-7.4h47.4v47.4H62.9zM0 52.5h52.5V0H0zM4 3.9h44.6v44.6H4zm-9.5 88.8h24.6v16.9H3v-7.4h11v-4.3H-1.2v15.9h24.5V88.4H-5.5v-5.1h28.8V57.9H-1.2v15.9h16.1v-4.2H3v-7.4h16.1v16.9H-5.5zm39.1-72h14.6L40.9 13zm-14.6 0h14.6L26.3 13zm-14.6 0H19L11.7 13zM4.1 8.6h44.7v3.3H4.1zm29.5 28.8h14.6l-7.3-7.6zm-14.6 0h14.6l-7.3-7.6zm-14.6 0H19l-7.3-7.6zm-.3 3.1h44.7v3.3H4.1zm0-15.1h44.7v3.3H4.1zm82.6 55.5a5.8 5.8 0 105.8 5.8c-.1-3.2-2.7-5.8-5.8-5.8zm0 15.9c-5.6 0-10.2-4.6-10.2-10.2s4.6-10.2 10.2-10.2S96.9 81 96.9 86.6c0 5.7-4.6 10.2-10.2 10.2zm-13.8 3.6h27.5V72.9H72.9zm31.9 4.4H68.5V68.5h36.3z'  stroke-width='1' stroke='none' fill='hsla(136, 97%, 18%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
		}
	}

	&[data-show="start-view"] {
		.start-view { display: block; }
		.game-view { display: none; }
	}

	&[data-show="game-view"] {
		.start-view { display: none; }
		.game-view { display: block; }
	}
}

.start-view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.game-view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	user-select: none;
	transition: width 100ms,
				height 100ms;
	// hovering deck dimensions
	--deckW: 43px;
	--deckH: 59px;
	--cardFlight: 450ms;
}

.table {
	position: absolute;
	top: 73px;
	left: 47px;
	width: 745px;
	height: 400px;
	background: #444;
	border-radius: 400px;
	box-shadow: inset 0 0 13px rgba(#000,.35),
				0 5px 13px rgba(#000,.35);

	&:before {
		content: "";
		background: #198719 radial-gradient(circle at 50% 50%, #fbaa6a4f, #2011004f);
		position: absolute;
		top: 29px;
		left: 29px;
		right: 29px;
		bottom: 29px;
		border-radius: inherit;
		border: 9px solid #c59808;
		box-shadow: 0 0 13px rgba(#000,.35),
					inset 0 2px 5px rgba(#000,.15),
					inset 0 -2px 5px rgba(#000,.15);
	}

	&:after {
		content: "";
		position: absolute;
		top: 83px;
		left: 83px;
		right: 83px;
		bottom: 83px;
		border-radius: inherit;
		border: 2px solid rgba(#000,.25);
		// box-shadow: 0 1px 0 rgba(#fff,.075);
		background: url(/app/icons/logo-karaqu.png) 50% 50% no-repeat;
		filter: drop-shadow(0 1px 0 rgba(#fff,.75)) opacity(.35);
		mix-blend-mode: overlay;
		pointer-events: none;
	}

	&.shows-user-actions {
		.seat.s0 {
			.bet {
				opacity: 1;
				visibility: visible;

				&:after {
					content: "";
					position: absolute;
					top: -7px;
					left: -7px;
					right: -7px;
					bottom: -6px;
					border-radius: 40px;
					border: 2px dashed #fff;
					box-shadow: 0 3px 3px rgba(#000,.25),
								inset 0 3px 3px rgba(#000,.25);
				}
			}
		}
	}

	.rim {
		position: absolute;
		top: 29px;
		left: 29px;
		right: 29px;
		bottom: 29px;
		border-radius: inherit;
		box-shadow: inset 0 1px 1px rgba(#ff5,.4),
					inset 0 -1px 1px rgba(#770,.6);
	}

	.spotlight {
		position: absolute;
		width: 117px;
		height: 53px;
		margin-left: -58px;
		background: radial-gradient(circle at top center, rgba(#f8ff47,.175), rgba(#fff,0) 73%);
		mix-blend-mode: overlay;
		pointer-events: none;

		&.p1 {
			top: 31px;
			left: 216px;
		}

		&.p2 {
			top: 31px;
			left: 372px;
		}

		&.p3 {
			top: 31px;
			left: 529px;
		}

		&.p4 {
			top: 142px;
			left: 86px;
			width: 53px;
			height: 117px;
			background: radial-gradient(circle at 0% 50%, rgba(#f8ff47,.175), rgba(#fff,0) 73%);
			clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
		}

		&.p5 {
			top: 316px;
			left: 216px;
			transform: rotate(180deg);
		}

		&.p6 {
			top: 316px;
			left: 372px;
			transform: rotate(180deg);
		}

		&.p7 {
			top: 316px;
			left: 529px;
			transform: rotate(180deg);
		}

		&.p8 {
			top: 142px;
			left: 721px;
			width: 53px;
			height: 117px;
			background: radial-gradient(circle at 0% 50%, rgba(#f8ff47,.2), rgba(#fff,0) 73%);
			clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
			transform: rotate(180deg);
		}
	}

	.seat {
		display: none;
		position: absolute;
		z-index: 2;
		width: 95px;
		height: 117px;
		white-space: nowrap;
		text-align: center;
		border-radius: 6px;
		backdrop-filter: blur(5px);
		background: radial-gradient(ellipse at bottom center, #dddddd60, transparent 90%),
					linear-gradient(180deg, #484579a1, #1c0c5a94);
		--outline: 0;
		--color: #fff;

		svg.outline {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			overflow: visible;
			z-index: 3;

			rect {
				fill: none;
				stroke: var( --color );
				stroke-linejoin: round;
				stroke-linecap: round;
				stroke-width: 3;
				stroke-dasharray: var( --outline );
				filter: drop-shadow(0 0 3px var( --color ))
						drop-shadow(0 0 9px var( --color ));
			}
		}

		&.s0 {
			display: block;
			top: 302px;
			left: 9px;

			.name:after {
				background-image: url(~/icons/user-placeholder.png);
			}

			.cards {
				top: 63px;
				left: 106px;
				perspective: 900px;
				min-height: 0px;

				&.hole-flip {
					min-height: 1px;
					transition: min-height 700ms linear;

					.card {
						&.cardA { animation: cardFlip 500ms ease-in-out forwards 100ms; }
						&.cardB { animation: cardFlip 500ms ease-in-out forwards 200ms; }
					}
				}

				.card {
					opacity: .125;
					width: var( --deckW );
					height: var( --deckH );
					background-size: contain;
					transition: all 0s ease-in-out;
					border-radius: 4px;

					&.dealt {
						opacity: 1;
						width: 53px;
						height: 72px;
					}

					&.cardA { left: 0; }
					&.cardB { left: 18px; }

					&.in-deck {
						transition-duration: var( --cardFlight );
						// transform: rotateY(180deg);
					}

					&:before {
						content: "";
						background-image: url(~/icons/cb-red.png);
						background-position: 0 0;
						background-repeat: no-repeat;
						background-size: inherit;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: inherit;
						transform: rotateY(180deg) translateZ(.1px);
						filter: brightness(1);
					}
				}
			}

			.bet {
				bottom: auto;
				top: -37px;
				left: 93px;

				&:before { filter: hue-rotate(245deg); }
			}
		}

		&.s1 {
			display: block;
			top: 87px;
			left: -31px;

			.cards {
				top: 101px;
				left: 120px;
			}

			.bet {
				bottom: auto;
				top: 107px;
				left: 104px;

				&:before { filter: hue-rotate(195deg); }
			}
		}

		&.s2 {
			display: block;
			top: -61px;
			left: 130px;

			.cards {
				top: 166px;
				left: -2px;
			}

			.bet:before { filter: hue-rotate(55deg); }
		}

		&.s3 {
			display: block;
			top: -63px;
			left: 318px;

			.cards {
				top: 166px;
				left: -2px;
			}
			
			.bet:before { filter: hue-rotate(155deg) saturate(1.25); }
		}

		&.s4 {
			display: block;
			top: -62px;
			left: 500px;

			.cards {
				top: 166px;
				left: -2px;
			}
			
			.bet:before { filter: hue-rotate(95deg); }
		}

		&.s5 {
			display: block;
			top: 97px;
			left: 681px;

			.cards {
				top: 96px;
				left: -39px;
			}

			.bet {
				left: auto;
				right: 107px;
				bottom: -17px;

				&:before { filter: grayscale(1); }
			}
		}
		
		&.s6 {
			display: block;
			top: 340px;
			left: 500px;

			.cards {
				top: -6px;
				left: -2px;
			}

			.bet {
				bottom: auto;
				top: -43px;

				&:before { filter: hue-rotate(175deg) brightness(1.1) saturate(2); }
			}
		}

		&.s7 {
			display: block;
			top: 340px;
			left: 280px;

			.cards {
				top: -14px;
				left: -2px;
			}

			.bet {
				bottom: auto;
				top: -43px;

				&:before { filter: hue-rotate(275deg); }
			}
		}

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			overflow: hidden;
			border-radius: inherit;
			box-shadow: 0 0 0 2px rgba(#fff,.75),
						0 3px 9px rgba(#000,.35),
						0 5px 17px rgba(#000,.35);

			&:before {
				content: "";
				pointer-events: none;
				background: linear-gradient(180deg, rgba(#fff,.35), rgba(#fff,.125));
				position: absolute;
				top: -11px;
				left: -20px;
				right: -20px;
				height: 23px;
				border-radius: 50%;
				mix-blend-mode: hard-light;
			}
		}

		.name {
			position: absolute;
			top: 3px;
			left: 0;
			right: 0;
			z-index: 1;
			padding-top: 1px;
			font-size: 17px;

			&:before { content: attr(data-name); }

			&:after {
				content: "";
				position: absolute;
				top: 19px;
				left: 0;
				right: 0;
				height: 76px;
				border-radius: 4px;
				background: 50% 50%/contain no-repeat;
				box-shadow: inset 0 0 3px rgba(#000,.5),
							inset 0 0 7px rgba(#000,.75),
							inset 0 0 11px rgba(#000,.85);
			}

			&[data-name="Ricardo"]:after { background-image: url(~/img/ricardo.webp); }
			&[data-name="Ann"]:after { background-image: url(~/img/ann.webp); }
			&[data-name="Daniel"]:after { background-image: url(~/img/daniel.webp); }
			&[data-name="Jack"]:after { background-image: url(~/img/jack.webp); }
			&[data-name="Jenny"]:after { background-image: url(~/img/jenny.webp); }
			&[data-name="Mary"]:after { background-image: url(~/img/mary.webp); }
			&[data-name="Nina"]:after { background-image: url(~/img/nina.webp); }
		}

		.cards {
			position: absolute;
			z-index: 2;

			.cardA,
			.cardB {
				opacity: .125;
				position: absolute;
				top: -39px;
				left: -16px;
				width: var( --deckW );
				height: var( --deckH );
				border-radius: 3px;
				box-shadow: 0 0 0 1px rgba(#111,.1),
							0 1px 2px rgba(#000,.2);
				transition: all 0s ease-in-out;

				&:not(.card),
				&:not(.card) {
					background: url(~/icons/cb-red.png) 0 0/contain no-repeat;
				}

				&.dealt {
					opacity: 1;
					width: 31px;
					height: 41px;
				}

				&.in-deck {
					transition-duration: var( --cardFlight );
					transition-delay: calc( var( --delay ) * 200ms );
				}
			}

			.cardB {
				left: -7px;
			}
		}

		.bankroll {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 17px;
		}

		.bet {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: -43px;
			left: 27px;
			height: 29px;
			font-size: 21px;
			padding: 5px 11px 3px 31px;
			background: rgba(#000,.25);
			filter: drop-shadow(0 1px 0 rgba(#fff,.35));
			border-radius: 31px;

			&:before {
				content: "";
				background: url(~/icons/chip-red.png) 50% 50%/contain no-repeat;
				position: absolute;
				top: 5px;
				left: 5px;
				width: 19px;
				height: 19px;
				border-radius: 50%;
				box-shadow: inset 0 1px 0 rgba(#ccf,.5),
							0 0 0 1px rgba(#000,.15),
							0 2px 3px rgba(#000,.5);
			}
		}

		&.betting {
			.bet {
				opacity: 1;
				visibility: visible;
			}
		}

		&[data-status="FOLD"] {
			// filter: sepia(1) brightness(.75) hue-rotate(305deg);
			filter: grayscale(1) brightness(.65) opacity(.85);

			// .name:after { filter: sepia(1) saturate(3) brightness(.55) hue-rotate(305deg); }
			.name:before,
			.bankroll { opacity: .5; }
			.cards { display: none; }
			.bg { box-shadow: 0 0 0 2px rgba(#ccc,.75); }

			.bet {
				opacity: 1;
				visibility: visible;
				padding: 5px 13px;
				font-size: 0;
				color: #fff;

				&:before {
					// background: #d66;
					display: none;
				}

				&:after {
					content: "Folded";
					font-size: 23px;
					text-shadow: 0 1px 1px rgba(#000,.15);
				}
			}
		}

		&[data-status="CHECK"] {

		}

		&[data-status="ALL-IN"] {

		}

		&[data-status="THINKiNG"] {
			svg.outline {
				display: block;

				rect {
					--outline: 424;
					stroke-dashoffset: var( --outline );
					animation: 5s animOutline linear forwards;
				}
			}
		}

		&[data-status="winner"] {
			svg.outline {
				display: block;
				--color: #ff0;

				rect {
					stroke-dasharray: 0;
					stroke-dashoffset: 0;
				}
			}
		}
	}

	.deck {
		opacity: 0;
		background: url(~/icons/cb-red.png) 0 0/contain no-repeat;
		position: absolute;
		width: var( --deckW );
		height: var( --deckH );
		z-index: 1;
		margin-top: 17px;
		border-radius: 3px;
		filter: drop-shadow(0 1px 0 hsl(1, 5%, 77%))
				drop-shadow(0 2px 0 hsl(1, 5%, 75%))
				drop-shadow(0 3px 0 hsl(1, 5%, 70%))
				drop-shadow(0 2px 7px rgba(#000,.35))
				drop-shadow(0 5px 13px rgba(#000,.5));
		transition: all 0s ease-in-out;

		&.appear {
			transition-duration: 250ms;
			opacity: 1;
			margin-top: 0;
		}

		&.disappear {
			transition-duration: 250ms;
			opacity: 0;
			margin-top: 17px;
		}

		&[data-pos="p0"] { top: 221px; left: 63px; }
		&[data-pos="p1"] { top: 148px; left: 134px; }
		&[data-pos="p2"] { top: 68px; left: 186px; }
		&[data-pos="p3"] { top: 68px; left: 376px; }
		&[data-pos="p4"] { top: 68px; left: 546px; }
		&[data-pos="p5"] { top: 159px; left: 556px; }
		&[data-pos="p6"] { top: 249px; left: 556px; }
		&[data-pos="p7"] { top: 238px; left: 326px; }
	}

	.dealer {
		position: absolute;
		width: 25px;
		height: 25px;
		z-index: 3;
		text-align: center;
		padding-top: 1px;
		background: #ddd;
		border-radius: 50%;
		box-shadow: inset 0 1px 0 rgba(#fff,.5),
					0 0 0 1px rgba(#000,.15),
					0 2px 3px rgba(#000,.5);
		transition: left 350ms ease-in-out,
					top 300ms ease-in-out;

		&:before {
			content: "";
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 3px;
			background: rgba(#fff,.35);
			box-shadow: inset 0 2px 0 rgba(#fff,.35),
						0 2px 4px rgba(#000,.25);
			border-radius: 50%;
			z-index: 1;
		}

		&:after {
			content: "D";
			position: relative;
			top: -1px;
			z-index: 2;
			font-family: Arial Black;
			font-size: 15px;
			color: rgba(#222,.5);
			text-shadow: 0 2px 1px rgba(#fff,.5);
		}

		&[data-pos="p0"] { top: 384px; left: -3px; }
		&[data-pos="p1"] { top: 161px; left: -31px; }
		&[data-pos="p2"] { top: 21px; left: 117px; }
		&[data-pos="p3"] { top: 21px; left: 307px; }
		&[data-pos="p4"] { top: 21px; left: 487px; }
		&[data-pos="p5"] { top: 182px; left: 658px; }
		&[data-pos="p6"] { top: 425px; left: 487px; }
		&[data-pos="p7"] { top: 424px; left: 267px; }
	}

	.pot {
		position: absolute;
		top: 240px;
		left: 317px;
		height: 29px;
		padding: 4px 11px 0 31px;
		background: rgba(#000,.15);
		filter: drop-shadow(0 1px 0 rgba(#fff,.35));
		border-radius: 31px;
		font-size: 23px;

		&:before {
			content: "";
			background: url(~/icons/chip-red.png) 50% 50%/contain no-repeat;
			position: absolute;
			top: 5px;
			left: 5px;
			width: 19px;
			height: 19px;
			border-radius: 50%;
			box-shadow: inset 0 1px 0 rgba(#fff,.5),
						0 0 0 1px rgba(#000,.15),
						0 2px 3px rgba(#000,.5);
		}
	}

	.board {
		position: absolute;
		top: 142px;
		left: 197px;
		z-index: 2;
		--s1: 300ms;
		--s2: 400ms;
		perspective: 500px;
		min-height: 0px;
		transition: min-height var( --s1 ) linear;

		&.no-anim.flip-flop {
			--s1: 0s;
			--s2: 0s;

			.card {
				&.flop-1,
				&.flop-2,
				&.flop-3 { animation-delay: 0s; }
			}
		}

		&.fan-flop {
			min-height: 1px;
			transition-duration: var( --s2 );

			.card {
				&.flop-1 { left: 0; }
				&.flop-2 { left: 72px; }
				&.flop-3 { left: 144px; }
			}
		}

		&.flip-flop {
			min-height: 2px;

			.card {
				&.flop-1 { animation: cardFlip var( --s2 ) 100ms ease-in-out forwards; }
				&.flop-2 { animation: cardFlip var( --s2 ) 200ms ease-in-out forwards; }
				&.flop-3 { animation: cardFlip var( --s2 ) 300ms ease-in-out forwards; }
			}
		}

		&.flip-turn {
			.card.turn {
				animation: cardFlip var( --s2 ) 40ms ease-in-out forwards;
			}
		}

		&.flip-river {
			.card.river {
				animation: cardFlip var( --s2 ) 40ms ease-in-out forwards;
			}
		}

		.card {
			top: 0;
			transition: left var( --s1 ) ease-in-out;

			&:before {
				background-size: contain;
			}

			&.in-deck {
				opacity: 0.125;
				width: var( --deckW );
				height: var( --deckH );
				background-size: contain;
			}

			&.fly-flop {
				opacity: 1;
				transition: all var( --s1 ) ease-in-out;

				&.flop-1 { transition-delay: 100ms; }
				&.flop-2 { transition-delay: 300ms; }
				&.flop-3 { transition-delay: 500ms; }
			}

			&.flop-1 { left: 0; }
			&.flop-2 { left: 0; }
			&.flop-3 { left: 0; }
			&.turn   { left: 216px; }
			&.river  { left: 288px; }

			&.loser {
				filter: brightness(.6);

				&:before { display: none; }
			}

			&.winner {
				filter: drop-shadow(0 0 2px #ff0)
						drop-shadow(0 0 5px rgba(#ff0,.75));
				margin-top: -13px;

				&:before { display: none; }
			}
		}
	}
}

.actions {
	position: absolute;
	top: 376px;
	left: 244px;
	width: 212px;
	border-radius: 6px;
	padding: 13px 0 4px 13px;
	z-index: 2;
	font-size: 0;

	.dlg-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		overflow: hidden;
		backdrop-filter: blur(5px);
		background: radial-gradient(ellipse at bottom center, #dddddd40, transparent 90%),
					linear-gradient(180deg, #484579a1, #1c0c5a94);
		box-shadow: 0 0 0 2px rgba(#fff,.75),
					inset 0 -1px 0 rgba(#000,.25),
					0 3px 9px rgba(#000,.35),
					0 5px 19px rgba(#000,.5),
					0 7px 29px rgba(#000,.85);

		&:before {
			content: "";
			pointer-events: none;
			background: linear-gradient(180deg, rgba(#fff,.35), rgba(#fff,.125));
			position: absolute;
			top: -11px;
			left: -23px;
			right: -23px;
			height: 21px;
			border-radius: 50%;
			mix-blend-mode: hard-light;
		}

		&:after {
			content: "";
			position: absolute;
			left: 3px;
			right: 3px;
			height: 1px;
			top: 1px;
			background: linear-gradient(90deg, transparent, rgba(#fff,.5), transparent);
		}
	}

	.dlg-arrow {
		position: absolute;
		top: 7px;
		left: -5px;
		width: 9px;
		height: 9px;
		z-index: 2;
		border-radius: 50%;
		background: #fff;
		transform: rotate(-63deg);
		filter: drop-shadow(-2px 1px 3px rgba(#000,.75));

		&:before {
			content: "";
			position: absolute;
			top: -21px;
			left: 3px;
			height: 21px;
			width: 0;
			border-left: 2px solid #fff;
		}

		&:after {
			content: "";
			position: absolute;
			top: -29px;
			left: -1px;
			border-bottom: 11px solid #fff;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}

	&[data-actions="call-fold-raise"] {
		.button.check { display: none; }
	}

	&[data-actions="call-fold"] {
		.slider,
		.button.raise,
		.button.check { display: none; }
	}

	&[data-actions="check-raise"] {
		// .button.raise,
		.button.fold { display: none; }
	}

	.options {
		position: relative;
		width: 187px;
		height: 29px;
		margin: 0 0 7px 0;
		display: flex;
		border-radius: 4px;
		text-align: center;
		background: linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);
		box-shadow: 0 0 0 1px rgba(#000,.25),
					inset 0 1px 0 rgba(#fff,.2),
					inset 0 -1px 0 rgba(#000,.1),
					0 1px 1px rgba(#000,.2);

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 3px;
			right: 3px;
			height: 1px;
			bottom: -2px;
			background: linear-gradient(90deg, transparent, rgba(#fff,.2), transparent);
		}

		&:after {
			top: 0;
			bottom: auto;
			background: linear-gradient(90deg, transparent, rgba(#fff,.15), transparent);
		}

		span {
			position: relative;
			width: 33px;
			padding-top: 7px;
			border-left: 1px solid rgba(#fff,.15);
			border-right: 1px solid rgba(#000,.1);
			font-size: 17px;
			text-shadow: 0 1px 1px rgba(#000,.25);
			background: radial-gradient(circle at bottom center, #dddddd40, transparent 90%);
			cursor: pointer;
			opacity: .65;
			transition: opacity 100ms ease-in-out;

			&:first-child {
				border-radius: 4px 0 0 4px;
				border-left: 0;
			}

			&:last-child {
				border-radius: 0 4px 4px 0;
				width: auto;
				flex: 1;
			}

			&:not(.disabled):hover {
				opacity: 1;
			}
		}
	}

	.slider {
		position: relative;
		width: 137px;
		height: 29px;
		margin: 0 6px 7px 0;
		display: inline-block;
		border-radius: 6px;
		background: radial-gradient(ellipse at bottom center, #343539, transparent 70%),
					linear-gradient(180deg, #020202, #27282b);
		box-shadow: inset 0 1px 0 rgba(#000,1),
					inset 0 -1px 0 rgba(#fff,.25);

		&:before {
			content: "";
			position: absolute;
			left: 13px;
			right: 13px;
			height: 1px;
			bottom: 0;
			background: linear-gradient(90deg, transparent, rgba(#fff,.3), transparent);
		}

		&.dragged {
			.text {
				display: none;
			}
		}

		.handle {
			position: absolute;
			top: 1px;
			bottom: 2px;
			left: 1px;
			width: 40px;
			z-index: 2;
			cursor: pointer;
			border-radius: 5px;
			background: radial-gradient(circle at bottom center, #dddddd80, transparent 90%),
						linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);

			&:hover {
				background: radial-gradient(circle at bottom center, #eeeeee80, transparent 90%),
							linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);
			}

			&:after {
				content: "";
				position: absolute;
				top: 6px;
				left: 12px;
				width: 18px;
				height: 15px;
				background: url(~/icons/icon-slide-arrow.png) 50% 50%/contain no-repeat;
				filter: drop-shadow(0 1px 0 rgba(#fff,.35));
				opacity: .5;
			}
		}

		.text {
			position: absolute;
			top: 8px;
			right: 5px;
			width: 87px;
			font-size: 16px;
			text-align: center;
			color: #fff;
			text-shadow: none;
  			background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
  			background-position: 0;
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			animation: textShine 4s infinite linear forwards;
		}
	}

	.button {
		position: relative;
		padding: 7px 0 0 0;
		margin: 0 7px 7px 0;
		width: 90px;
		height: 29px;
		display: inline-block;
		border-radius: 4px;
		vertical-align: top;
		text-align: center;
		font-size: 17px;
		cursor: pointer;
		text-shadow: 0 1px 1px rgba(#000,.25);
		background: radial-gradient(circle at bottom center, #8585857a, transparent 90%),
					linear-gradient(180deg, #555864, #333441 50%, #1b1d2a 50%, #1b1c2a);
		box-shadow: 0 0 0 1px rgba(#000,.25),
					inset 0 1px 0 rgba(#fff,.2),
					inset 0 -1px 0 rgba(#000,.1),
					0 1px 1px rgba(#000,.2);

		&:hover {
			background: radial-gradient(circle at bottom center, #8585859a, transparent 90%),
						linear-gradient(180deg, #555864, #333441 50%, #1b1d2a 50%, #1b1c2a);
		}

		&.fold {
			background: radial-gradient(circle at bottom center, #ff87878e, transparent 90%),
						linear-gradient(180deg, #d5747a, #cf5f69 50%, #c6202c 50%, #c1212e);

			&:hover {
				background: radial-gradient(circle at bottom center, #ff8787ae, transparent 90%),
							linear-gradient(180deg, #d5747a, #cf5f69 50%, #c6202c 50%, #c1212e);
			}
		}

		&.raise {
			width: 45px;
			height: 27px;
			background: radial-gradient(circle at bottom center, #dddddd80, transparent 90%),
						linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);

			&:not(.disabled):hover {
				background: radial-gradient(circle at bottom center, #dddddda0, transparent 90%),
							linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);
			}

			&.disabled {
				cursor: default;
				color: rgba(#111,.5);
				text-shadow: 0 1px 0 #929292;
			}
		}

		&.call {
			background: radial-gradient(circle at bottom center, #aecaff77, transparent 90%),
						linear-gradient(180deg, #70ba71, #3cab3b 50%, #249f15 50%, #249f15);

			&:hover {
				background: radial-gradient(circle at bottom center, #aecaff97, transparent 90%),
							linear-gradient(180deg, #70ba71, #3cab3b 50%, #249f15 50%, #249f15);
			}
		}

		&.check {
			background: radial-gradient(circle at bottom center, #aeffc260, transparent 90%),
						linear-gradient(180deg, #83a3e9, #5f86e5 50%, #4472e0 50%, #4973d2);

			&:hover {
				background: radial-gradient(circle at bottom center, #aeffc280, transparent 90%),
							linear-gradient(180deg, #83a3e9, #5f86e5 50%, #4472e0 50%, #4973d2);
			}
		}

		&:active {
			padding-top: 8px;
			box-shadow: 0 0 0 1px rgba(#000,.25),
						inset 0 1px 0 rgba(#fff,.01),
						0 1px 1px rgba(#000,.2);
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 3px;
			right: 3px;
			height: 1px;
			bottom: -2px;
			background: linear-gradient(90deg, transparent, rgba(#fff,.3), transparent);
		}

		&:after {
			top: 0;
			bottom: auto;
		}
	}
}

.card {
	position: absolute;
	width: 66px;
	height: 90px;
	display: inline-block;
	border-radius: 5px;
	transform-style: preserve-3d;
	background-size: 66px 90px;
	background-repeat: no-repeat;
	box-shadow: 0 0 0 1px rgba(#111,.1),
				0 2px 5px rgba(#000,.2);


	&.card-back {
		position: absolute;
		top: 50px;
		left: 600px;
		transform: rotateY(180deg);

		&:before {
			content: "";
			background-image: url(~/icons/cb-red.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: inherit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: inherit;
			transform: rotateY(180deg) translateZ(.1px);
			filter: brightness(1);
		}
	}

	&.s2	{ background-image: url(~/icons/s2.png), url(~/icons/spades-front.png); }
	&.s3	{ background-image: url(~/icons/s3.png), url(~/icons/spades-front.png); }
	&.s4	{ background-image: url(~/icons/s4.png), url(~/icons/spades-front.png); }
	&.s5	{ background-image: url(~/icons/s5.png), url(~/icons/spades-front.png); }
	&.s6	{ background-image: url(~/icons/s6.png), url(~/icons/spades-front.png); }
	&.s7	{ background-image: url(~/icons/s7.png), url(~/icons/spades-front.png); }
	&.s8	{ background-image: url(~/icons/s8.png), url(~/icons/spades-front.png); }
	&.s9	{ background-image: url(~/icons/s9.png), url(~/icons/spades-front.png); }
	&.s10	{ background-image: url(~/icons/s10.png), url(~/icons/spades-front.png); }
	&.s11	{ background-image: url(~/icons/sJ.png); }
	&.s12	{ background-image: url(~/icons/sQ.png); }
	&.s13	{ background-image: url(~/icons/sK.png); }
	&.s14   { background-image: url(~/icons/sA.png), url(~/icons/spades-front.png); }

	&.h2	{ background-image: url(~/icons/h2.png), url(~/icons/hearts-front.png); }
	&.h3	{ background-image: url(~/icons/h3.png), url(~/icons/hearts-front.png); }
	&.h4	{ background-image: url(~/icons/h4.png), url(~/icons/hearts-front.png); }
	&.h5	{ background-image: url(~/icons/h5.png), url(~/icons/hearts-front.png); }
	&.h6	{ background-image: url(~/icons/h6.png), url(~/icons/hearts-front.png); }
	&.h7	{ background-image: url(~/icons/h7.png), url(~/icons/hearts-front.png); }
	&.h8	{ background-image: url(~/icons/h8.png), url(~/icons/hearts-front.png); }
	&.h9	{ background-image: url(~/icons/h9.png), url(~/icons/hearts-front.png); }
	&.h10	{ background-image: url(~/icons/h10.png), url(~/icons/hearts-front.png); }
	&.h11	{ background-image: url(~/icons/hJ.png); }
	&.h12	{ background-image: url(~/icons/hQ.png); }
	&.h13	{ background-image: url(~/icons/hK.png); }
	&.h14	{ background-image: url(~/icons/hA.png), url(~/icons/hearts-front.png); }

	&.d2	{ background-image: url(~/icons/d2.png), url(~/icons/diamonds-front.png); }
	&.d3	{ background-image: url(~/icons/d3.png), url(~/icons/diamonds-front.png); }
	&.d4	{ background-image: url(~/icons/d4.png), url(~/icons/diamonds-front.png); }
	&.d5	{ background-image: url(~/icons/d5.png), url(~/icons/diamonds-front.png); }
	&.d6	{ background-image: url(~/icons/d6.png), url(~/icons/diamonds-front.png); }
	&.d7	{ background-image: url(~/icons/d7.png), url(~/icons/diamonds-front.png); }
	&.d8	{ background-image: url(~/icons/d8.png), url(~/icons/diamonds-front.png); }
	&.d9	{ background-image: url(~/icons/d9.png), url(~/icons/diamonds-front.png); }
	&.d10	{ background-image: url(~/icons/d10.png), url(~/icons/diamonds-front.png); }
	&.d11	{ background-image: url(~/icons/dJ.png); }
	&.d12	{ background-image: url(~/icons/dQ.png); }
	&.d13	{ background-image: url(~/icons/dK.png); }
	&.d14	{ background-image: url(~/icons/dA.png), url(~/icons/diamonds-front.png); }

	&.c2	{ background-image: url(~/icons/c2.png), url(~/icons/clubs-front.png); }
	&.c3	{ background-image: url(~/icons/c3.png), url(~/icons/clubs-front.png); }
	&.c4	{ background-image: url(~/icons/c4.png), url(~/icons/clubs-front.png); }
	&.c5	{ background-image: url(~/icons/c5.png), url(~/icons/clubs-front.png); }
	&.c6	{ background-image: url(~/icons/c6.png), url(~/icons/clubs-front.png); }
	&.c7	{ background-image: url(~/icons/c7.png), url(~/icons/clubs-front.png); }
	&.c8	{ background-image: url(~/icons/c8.png), url(~/icons/clubs-front.png); }
	&.c9	{ background-image: url(~/icons/c9.png), url(~/icons/clubs-front.png); }
	&.c10	{ background-image: url(~/icons/c10.png), url(~/icons/clubs-front.png); }
	&.c11	{ background-image: url(~/icons/cJ.png); }
	&.c12	{ background-image: url(~/icons/cQ.png); }
	&.c13	{ background-image: url(~/icons/cK.png); }
	&.c14	{ background-image: url(~/icons/cA.png), url(~/icons/clubs-front.png); }
}


@keyframes cardFlip {
	0%   { transform: translateY(0px) rotateY(180deg); }
	50%  { transform: translateY(-9px) rotateY(90deg); }
	100% { transform: translateY(0px) rotateY(0deg); }
}

@keyframes textShine {
	0%   { background-position: 0; }
	45%  { background-position: 78px; }
	100% { background-position: 78px; }
}

@keyframes animOutline {
	0%   { stroke-dashoffset: var( --size ); }
	100% { stroke-dashoffset: 0; }
}



// custom fonts
@font-face {
	font-family: "BebasNeueRegular";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/BebasNeue-webfont.woff) format("woff2");
}

